body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo-margin-top {
    margin-top: 0px;
}

.menu-padding-bottom {
    margin-bottom: 55px;
    /*padding-bottom: 55px;*/
}

.todo-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aquamarine;
    justify-content: center;
    background-color: #282c34;
    align-items: center;
}

.todo-footer_contain {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
